.home-container {
    padding: 10px;
    background-color: #121212;
    min-height: 100vh; /* Минимальная высота — 100% высоты окна */
  }
  
  .all-items {
    margin-top: 20px;
    overflow-y: auto; /* Включаем вертикальную прокрутку при необходимости */
  }
  
  .item-list {
    display: flex;
    justify-content: space-between;
  }
  
  .item {
    width: 48%;
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
  }
  
  .item img {
    width: 100%;
  }
  
  .price {
    color: #f4ce42;
  }
  